body{
    background-color: #e9e9e9;
    margin: 0;
    padding: 0;
}


.box-1{
    float: left;
    margin-top: 80px;
    margin-left: 130px;
}
.logo{
    height: 120px;
    width: 120px;
}
.dicribe{
    height: 50px;
    width: 480px;
    margin-top: 1px;
    margin-left: 40px;
    font-family: arial;
    font-size: 25px;
}



.box-2{
    height: 370px;
    width: 400px;
    background-color: #f8f8f8;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;
    margin-left: 700px;
}
.text, .password{
    height: 50px;
    width: 90%;
    font-size: 20px;
    margin: 20px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.login{
    height: 50px;
    width: 90%;
    border-width: 0;
    border-radius: 5px;
    background-color: #1877f2;
    font-size: 25px;
    color: white;
    font-weight: 700;
    font-family: arial;
    margin: 10px;
}
.forget{
    height: 30px;
    width: 70%;
    font-size: 14px;
    font-family: arial;
    color: #1877f2;
    text-decoration: none;
}
.creat{
    height: 50px;
    width: 55%;
    border-width: 0;
    border-radius: 5px;
    background-color: #42b72a;
    font-size: 20px;
    color: white;
    font-weight: 700;
    font-family: arial;
    margin-top: 30px;
}
.pera{
    margin-top: 20px;
    margin-left: 750px;
}

.text, .password:focus{
    outline: 1px solid #1877f2;
}
.login:hover{
    background-color: #1b549f;
}
.forget:hover{
    text-decoration: underline;
}
.creat:hover{
    background-color: #318420;
}